
*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}


.about-section .social-icons li a i {
   color: #BCC6D1;
   font-size: 30px;
   padding: 0 10px;
 }




 @media only screen and (max-width: 990px){

.about-section {

   flex-direction: column-reverse;
}

.about-section .about-section-text h2 {

   padding-top: 50px;
}



 }

@media only screen and (max-width: 400px){  

   .about-section {
      flex-direction: column-reverse;
   justify-content: space-between;
   }


   .about-section .about-section-text p {
      font-size: 14px;
   }

}
