@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
  width: 100%;

}

body {
  width: 100%;
  height: 100%;
}

nav ul l{
    list-style: none;
}

header {
  position: fixed;
  top: 0;
  border-bottom: 1px solid #1a1a1a;
  z-index: 30;
}


header nav #nav-menu-items-desktop li a {
    color: white;
      text-decoration: none;
    padding: 0 10px;
    font-weight: 600;
}

header nav li a i {
padding: 0 10px;
  color :white;
}


header .navbar-mobile {
  display: none;
  position: fixed;
}




header nav #nav-menu-items-mobile{
  display: none;
}


main {
    position: relative;
}

span {
    font-family: 'Archivo Black', sans-serif;
    color: #BCC6D1;
    
}


h1{
    font-family: 'Archivo', sans-serif;
    color: #BCC6D1;
    line-height: 1.8;
}

.button {
 --color: #c0d4fd;
 padding: 0.8em 1.7em;
 background-color: transparent;
 border-radius: .3em;
 position: relative;
 overflow: hidden;
 cursor: pointer;
 transition: .5s;
 font-weight: 400;
 font-size: 19px;
 border: 1px solid;
 font-family: inherit;
 text-transform: uppercase;
 color: var(--color);
 z-index: 1;
}

.button::before, .button::after {
 content: '';
 display: block;
 width: 50px;
 height: 50px;
 transform: translate(-50%, -50%);
 position: absolute;
 border-radius: 50%;
 z-index: -1;
 background-color: var(--color);
 transition: 1s ease;
}

.button::before {
 top: -1em;
 left: -1em;
}

.button::after {
 left: calc(100% + 1em);
 top: calc(100% + 1em);
}

.button:hover::before, .button:hover::after {
 height: 410px;
 width: 410px;
}

.button:hover {
 color: rgb(10, 25, 30);
}

.button:active {
 filter: brightness(.8);
}
  
  .button_top {
   display: block;
   box-sizing: border-box;
   border: 2px solid var(--button_outline_color);
   border-radius: var(--button_radius);
   padding: 0.75em 1.5em;
   background: var(--button_color);
   color: var(--button_text_color);
   transform: translateY(-0.2em);
   transition: transform 0.1s ease;
  }
  
  button:hover .button_top {
    /* Pull the button upwards when hovered */
   transform: translateY(-0.33em);
  }
  
  button:active .button_top {
    /* Push the button downwards when pressed */
   transform: translateY(0);
  }

  article button a {
    font-family: 'Archivo Black', sans-serif;
  }



  @media only screen and (max-width: 890px){

  

    header .navbar-mobile {
      display: block;

    }


 

    header nav #nav-menu-items-desktop {
     display: none;

    }

 header nav #nav-menu-items-mobile {
   display: block;

 position:absolute;
 top: 70%;
 left: 0;
 opacity: 0;
 background: rgba(7, 7, 7, 0.514);
flex-direction: column;
z-index: 40;
transition: 0.6s all;
  }

  header nav #nav-menu-items-mobile li {
    padding: 20px 30px;
    color: white;
  }


    section {
        
        flex-direction: column-reverse;
    }
  }