@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;

  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
}

nav ul {
  list-style: none;
}

/*===============Header CSS=======================*/
header {
  z-index: 30;
}

header .navigation {
  position: relative;
}

header .navigation .social-icons li a {
  padding: 0 10px;
}

header .navigation .nav-menu .menu-line {
  margin: 10px 0;
  width: 30px;
  background-color: #ffffff;
  height: 2px;
}

header .nav-menu .menu-line1 {
  z-index: 10;
}

header .nav-menu .menu-line3 {
  z-index: 20;
}

header .navigation .logo {
  font-size: var(--large-font-size);
}

header .nav-menu-items {
  position: absolute;
  left: -20%;
  width: 20%;
  padding: 10px 0;
  transition: 1.2s all;
  z-index: 99;
}

.nav-menu-items a {
  color: #ffffff;
  display: block;
  padding: 30px 30px;
  font-family: "Archivo Black", sans-serif;
  font-size: var(--medium-font-size);
}

.nav-menu-link {
  @apply px-16 text-neutral-200 hover:text-textcolor;
}

ul li a i {
  color: #ffffff;
}

/*===============animate menu button lines=======================*/

.slant-down {
  transform: rotate(45deg);
  position: absolute;

  transition: 0.4s all;
}

.slant-up {
  transform: rotate(-45deg);
  transition: 0.4s all;
  bottom: 5%;
  left: 3%;
}

h1 {
  font-family: "Archivo", sans-serif;
  color: #bcc6d1;
  line-height: 1.8;
}

.services-header {
  font-weight: bold;
  font-family: "Archivo", sans-serif;
}

h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Archivo", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  color: #1a1a1a;
}

.button {
  --color: #c0d4fd;
  padding: 0.8em 1.7em;
  margin-bottom: 50px;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: 19px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
}

.button::before,
.button::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

.button::before {
  top: -1em;
  left: -1em;
}

.button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.button:hover::before,
.button:hover::after {
  height: 410px;
  width: 410px;
}

.button:hover {
  color: rgb(10, 25, 30);
}

.button:active {
  filter: brightness(0.8);
}

.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_text_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

button:hover .button_top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

button:active .button_top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}

a .button {
  text-decoration: none;
  font-family: "Archivo Black", sans-serif;
}

main {
  position: relative;
}


main .services .services-cards .article{
  box-shadow: 3px 1px 5px 2px rgba(158,158,158,0.75);
  -webkit-box-shadow: 3px 1px 5px 2px rgba(158,158,158,0.75);
  -moz-box-shadow: 3px 1px 5px 2px rgba(158,158,158,0.75);box-shadow: 3px 1px 5px 2px rgba(158,158,158,0.75);
-webkit-box-shadow: 3px 1px 5px 2px rgba(158,158,158,0.75);
-moz-box-shadow: 3px 1px 5px 2px rgba(158,158,158,0.75);

}
main .services article p {
  font-size: 18px;
  color: #111111;
}

main .hero-section article  .i-am {

  font-family: "Archivo", sans-serif;

}

main .hero-section article  .greeting {
  font-family: "Archivo Black", sans-serif;
  color: #bcc6d1;
}



main .hero-section article a button {
  font-family: "Archivo Black", sans-serif;
  margin-top: 30px;
}

footer .social-icons li a i {
  color: #bcc6d1;
  font-size: 30px;
  padding: 0 30px;
}

/*-----------------------------------------------------------------------------*/
/*-----------------------MEDIA QUERIES-------------------------------------*/
/*-----------------------------------------------------------------------------*/

@media only screen and (max-width: 912px) {
  header .nav-menu-items {
    position: absolute;
    left: -70%;
    width: 50%;

    padding: 10px 0;
    transition: 1.2s all;
    z-index: 20;
  }

  .nav-menu-items a {
    color: #ffffff;
    display: block;
    padding: 30px 30px;
    font-family: "Roboto", sans-serif;
    font-size: var(--medium-font-size);
  }

  .slant-down {
    transform: rotate(45deg);
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    transition: 0.4s all;
  }
}

@media only screen and (max-width: 911px) {
  header .nav-menu-items {
    position: absolute;
    left: -70%;
    width: 50%;

    padding: 10px 0;
    transition: 1.2s all;
    z-index: 20;
  }

  .nav-menu-items a {
    color: #ffffff;
    display: block;
    padding: 30px 30px;
    font-family: "Roboto", sans-serif;
    font-size: var(--medium-font-size);
  }

  .slant-down {
    transform: rotate(45deg);
    position: absolute;
    top: 39%;
    left: 93.5%;
    transition: 0.4s all;
  }

  .slant-up {
    top: 3%;
    left: 1%;
  }
}

@media only screen and (max-width: 820px) {
  header .nav-menu-items {
    position: absolute;
    left: -70%;
    width: 50%;

    padding: 10px 0;
    transition: 1.2s all;
    z-index: 20;
  }

  .nav-menu-items a {
    color: #ffffff;
    display: block;
    padding: 30px 30px;
    font-family: "Roboto", sans-serif;
    font-size: var(--medium-font-size);
  }

  .hero-section {
    flex-direction: column-reverse;
  }

  .hero-section article {
    position: absolute;
    top: 30%;
    height: 70%;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.041) 0%,
      rgba(0, 0, 0, 1) 78%,
      rgba(0, 0, 0, 1) 100%,
      rgba(0, 0, 0, 1) 100%
    );
  }

  .slant-down {
    transform: rotate(45deg);
    position: absolute;
    top: 44%;
    left: 93.5%;
    transition: 0.4s all;
  }

  .slant-up {
    top: 20%;
    left: 10%;
  }
}

@media only screen and (max-width: 700px) {
  .hero-section {
    flex-direction: column-reverse;
  }

  .hero-section article {
    position: absolute;
    top: 30%;
    height: 70%;
    background: rgba(0, 0, 0, 0.548);
  }

  .services .services-cards {
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  header .nav-menu-items {
    position: absolute;
    left: -70%;
    width: 50%;

    padding: 10px 0;
    transition: 1.2s all;
    z-index: 20;
  }

  .nav-menu-items a {
    color: #ffffff;
    display: block;
    padding: 30px 30px;
    font-family: "Roboto", sans-serif;
    font-size: var(--medium-font-size);
  }

  .hero-section {
    flex-direction: column-reverse;
  }

  .hero-section article {
    position: absolute;
    top: 30%;
    height: 70%;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.041) 0%,
      rgba(0, 0, 0, 1) 78%,
      rgba(0, 0, 0, 1) 100%,
      rgba(0, 0, 0, 1) 100%
    );
  }

  .slant-down {
    transform: rotate(45deg);
    position: absolute;
    top: 38%;
    left: 92.5%;
    transition: 0.4s all;
  }

  .slant-up {
    top: 20%;
    left: 10%;
  }

  .services .services-cards {
    flex-direction: column;
  }
}

@media only screen and (max-width: 430px) {
  .home-main {
    padding-bottom: 20%;
  }
}

@media only screen and (max-width: 415px) {
  header .nav-menu-items {
    position: absolute;
    left: -70%;
    width: 50%;

    padding: 10px 0;
    transition: 1.2s all;
    z-index: 20;
  }

  .nav-menu-items a {
    color: #ffffff;
    display: block;
    padding: 30px 30px;
    font-family: "Roboto", sans-serif;
    font-size: var(--normal-font-size);
  }

  .hero-section {
    flex-direction: column-reverse;
  }

  .hero-section article {
    position: absolute;
    padding: 100px 25px;
    top: 25%;
    height: 70%;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.041) 0%,
      rgba(0, 0, 0, 1) 78%,
      rgba(0, 0, 0, 1) 100%,
      rgba(0, 0, 0, 1) 100%
    );
  }

  .slant-down {
    transform: rotate(45deg);
    position: absolute;
    top: 38%;
    left: 84%;
    transition: 0.4s all;
  }

  .slant-up {
    top: 3%;
    left: 6%;
  }
}

@media only screen and (max-width: 400px) {
  header .nav-menu-items {
    position: absolute;
    left: -70%;
    width: 50%;

    padding: 10px 0;
    transition: 1.2s all;
    z-index: 20;
  }

  .nav-menu-items a {
    color: #ffffff;
    display: block;
    padding: 30px 30px;
    font-family: "Roboto", sans-serif;
    font-size: var(--normal-font-size);
  }

  .hero-section {
    flex-direction: column-reverse;
  }

  .hero-section article {
    position: absolute;
    padding: 100px 25px;
    top: 22%;
    height: 70%;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.041) 0%,
      rgba(0, 0, 0, 1) 78%,
      rgba(0, 0, 0, 1) 100%,
      rgba(0, 0, 0, 1) 100%
    );
  }

  .slant-down {
    transform: rotate(45deg);
    position: absolute;
    top: 38%;
    left: 84%;
    transition: 0.4s all;
  }

  .slant-up {
    top: 3%;
    left: 6%;
  }

  footer {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 375px) {
  .hero-section {
    flex-direction: column-reverse;
  }

  .hero-section article {
    position: absolute;
    top: 25%;
    height: 70%;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.041) 0%,
      rgba(0, 0, 0, 1) 78%,
      rgba(0, 0, 0, 1) 100%,
      rgba(0, 0, 0, 1) 100%
    );
  }

  .slant-down {
    transform: rotate(45deg);
    position: absolute;
    top: 39%;
    left: 85.5%;
    transition: 0.4s all;
  }

  .home-main {
    padding-bottom: 40%;
  }

  footer {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 360px) {
  header .nav-menu-items {
    position: absolute;
    left: -70%;
    width: 50%;

    padding: 10px 0;
    transition: 1.2s all;
    z-index: 20;
  }

  .nav-menu-items a {
    color: #ffffff;
    display: block;
    padding: 30px 30px;
    font-family: "Roboto", sans-serif;
    font-size: var(--normal-font-size);
  }

  .hero-section {
    flex-direction: column-reverse;
  }

  .hero-section article {
    padding-top: 100px;
    position: absolute;
    top: 22%;
    height: 70%;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.041) 0%,
      rgba(0, 0, 0, 1) 78%,
      rgba(0, 0, 0, 1) 100%,
      rgba(0, 0, 0, 1) 100%
    );
  }

  .home-main {
    padding-bottom: 40%;
  }

  .slant-down {
    transform: rotate(45deg);
    position: absolute;
    top: 39%;
    left: 83%;
    transition: 0.4s all;
  }

  .slant-up {
    top: 3%;
    left: 6%;
  }

  footer {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 340px) {
  header .nav-menu-items {
    position: absolute;
    left: -70%;
    width: 50%;

    padding: 10px 0;
    transition: 1.2s all;
    z-index: 20;
  }

  .hero-section {
    flex-direction: column-reverse;
  }

  .hero-section article {
    position: absolute;
    top: 25%;
    height: 70%;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.041) 0%,
      rgba(0, 0, 0, 1) 78%,
      rgba(0, 0, 0, 1) 100%,
      rgba(0, 0, 0, 1) 100%
    );
  }

  .slant-down {
    transform: rotate(45deg);
    position: absolute;
    top: 39%;
    left: 83%;
    transition: 0.4s all;
  }

  .slant-up {
    top: 3%;
    left: 6%;
  }

  .home-main {
    padding-bottom: 40%;
  }
}

@media only screen and (max-width: 339px) {
  header .nav-menu-items {
    position: absolute;
    left: -70%;
    width: 50%;

    padding: 10px 0;
    transition: 1.2s all;
    z-index: 20;
  }

  .hero-section {
    flex-direction: column-reverse;
  }

  .hero-section article {
    position: absolute;
    top: 22%;
    height: 70%;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.041) 0%,
      rgba(0, 0, 0, 1) 78%,
      rgba(0, 0, 0, 1) 100%,
      rgba(0, 0, 0, 1) 100%
    );
  }

  .slant-down {
    transform: rotate(45deg);
    position: absolute;
    top: 39%;
    left: 83%;
    transition: 0.4s all;
  }

  .slant-up {
    top: 3%;
    left: 6%;
  }

  .home-main {
    padding-bottom: 55%;
  }
}


#preloader { 
background: #000000 url(/images/loader.gif) no-repeat center center;
background-size: 50%;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100vh;
overflow-y: hidden;
z-index: 200;

}